<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2013-2016 GraphAware
  ~
  ~ This file is part of the GraphAware Framework.
  ~
  ~ GraphAware Framework is free software: you can redistribute it and/or modify it under the terms of
  ~ the GNU General Public License as published by the Free Software Foundation, either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details. You should have received a copy of
  ~ the GNU General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  -->

<assembly>
	<id>plugin</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<files>
		<file>
			<source>${basedir}/src/main/plugin-metadata/plugin-descriptor.properties</source>
			<outputDirectory></outputDirectory>
			<filtered>true</filtered>
		</file>
                <file>
			<source>${basedir}/src/main/plugin-metadata/plugin-security.policy</source>
			<outputDirectory></outputDirectory>
			<filtered>true</filtered>
		</file>
        </files>        
	<dependencySets>
		<dependencySet>
			<outputDirectory>/</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<excludes>
				<exclude>com.google.guava:guava</exclude>
			</excludes>
		</dependencySet>
	</dependencySets>
</assembly>
