grant {
  //permission org.elasticsearch.script.ClassPermission "java.lang.*"; // allow class`
  //permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  //permission java.lang.RuntimePermission "accessDeclaredMembers";
  //permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
  //permission java.lang.RuntimePermission "closeClassLoader";
  //permission org.elasticsearch.script.ClassPermission "<<STANDARD>>";
};